// sizes
$size1: 10rem;
$size2: 20rem;
$size3: 30rem;
$size4: 40rem;
$size5: 50rem;


// Color 
$color1:rgb(255, 255, 255);
$color2: rgb(255, 0, 0);
$color3: rgb(10, 99, 62);

// View Port
$viewW1: 100vw;

// Procent
$percent1: 100%;